@model SellYourStuff.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div class="row" style="background:white; padding:20px;">
    @*<div class="col-md-8 col-sm-12">

    </div>*@
    <div class="product col-md-6 service-image-left">

        <center>
            <img id="item-display" class="img-responsive" src="@Html.DisplayFor(model => model.Image)" alt="" />
        </center>
    </div>
    <div class="col-md-6">
        <div class="product-title">@Html.DisplayFor(model => model.Title)</div>
        <div class="product-desc">@Html.DisplayFor(model => model.Description)</div>
        <hr>
        <div class="product-price">$ @Html.DisplayFor(model => model.Price)</div>
        <hr>
        <div class="btn-group cart">
            @Html.ActionLink("Seller Profile","Index","Profile",new { id=Model.ApplicationUserId},null)

        </div>
        <div class="btn-group wishlist">
            
            @*@Ajax.ActionLink("add to wish", "AddToFavList",
                                                  new { id = (@Html.DisplayFor(model => model.Id)) },
                                                  new AjaxOptions
                                                  {
                                                      HttpMethod = "POST",
                                                      OnSuccess = "favoriteToggle",
                                                  },
                                                  new { @class = "btn btn-info glyphicon", id = "fav" })*@
            <button  type="button" class="btn btn-danger" onclick="AddToFav('@Html.DisplayFor(model => model.Id)')">
                Add to wishlist
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="getbootstrap">Ask a question</button>

        </div>
        <div id="favlistmessage">

        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="subjectString" class="control-label">Subject:</label>
                        <input class="form-control" id="subjectString" type="text" />
                        <label for="message-text" class="control-label">Message:</label>
                        
                        <textarea class="form-control" id="message-text"></textarea>
                        
                        <input id="userId" hidden value="@Html.DisplayFor(model => model.ApplicationUserId)" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="SendMessage"type="button" data-dismiss="modal" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>
<div id="test"></div>