@model IEnumerable<SellYourStuff.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="@Html.DisplayFor(modelItem => item.Image)" alt="..." onerror="this.src = 'http://placehold.it/350x250'">
                <div class="caption">
                    @if (item.Title.Length > 15)
                    {
                        <h3>@item.Title.Substring(0, 15) ...</h3>
                    }
                    else
                    {
                        <h3>@item.Title</h3>
                    }
                    <p>@(item.Description.Substring(0, 30))</p>
                    <p> <a href="@Url.Action("Details", new { id=item.Id })" class="btn btn-default" role="button">Visa Produkt</a></p>
                    <p> <a href="@Url.Action("Delete", new { id=item.Id })" class="btn btn-default" role="button">Visa Produkt</a></p>
                    
                </div>
            </div>
        </div>

    }
</div>



